# Arquivos e pastas específicos do .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# Visual Studio e VS Code
.vs/
.vscode/
*.userprefs
*.sln.docstates

# Arquivos temporários
[Tt]emp/
[Tt]mp/

# Packages
*.nupkg
**/packages/*
!**/packages/build/

# Resultados de testes
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Outros
.DS_Store
Thumbs.db